@font-face {
    font-family: 'fmain';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'fbold';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'fexbold';
    src: url('../fonts/ProximaNovaA-Extrabld.woff2') format('woff2'),
        url('../fonts/ProximaNovaA-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

